<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /ESC-Internal/
  
  # Rediriger tout vers index.html si le fichier/dossier physique n'existe pas
  # Cela force Next.js à prendre le relais pour le routage
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.html [L]
</IfModule>
